<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://mybatis.org/schema/mybatis-spring
       http://mybatis.org/schema/mybatis-spring.xsd">
<!--   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">-->


    <!--***************************************************************************************************-->
    <!-- Hikari CP root-context -->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
<!--        <property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>-->
        <!-- JDBC 관련 로그 출력을 위한 수정(20.03.24) -->
        <property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
        <property name="jdbcUrl" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="awesomeboard"/>
        <property name="password" value="1111"/>
    </bean>
    <!-- Hikari CP 세부설정은 이곳에서~ -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>
    <!--***************************************************************************************************-->
    <!-- Mybatis 설정 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Spring bean 등록을 위한 설정 -->
    <mybatis-spring:scan base-package="com.yj.mapper"/>
    <context:component-scan base-package="com.yj.sample"/>
    <context:component-scan base-package="com.yj.controller"/>
</beans>

